<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/home.css">
</head>
<body>
    <div class="nav-bar">
        <div class="nav-bar-left">
           
          <a href="/index.html"> <img src="/static/taskpic/logo.jpg" class="nav-bar-left-logo"> </a>
        </div>
        <div class="nav-bar-right">
            <button class="menu" onclick="window.location.href='/templates/menu.html' ">Menu</button>
            <button class="contact-us">Contact Us</button>
            <button class="about-us">About Us</button>
        </div>
    </div>

    <div class="wrapper-main">
        <div class="main">
            <div class="left-main">
                <p>Choose your style!
                </p>
                <button class="left-button" onclick=" window.location.href='/templates/menu.html' ">Discover our Menu!</button>
            </div>
            <div class="right-main">
                <img src="/static/taskpic/b.webp" class="hero-img">
            </div>
        </div>
    </div>
</body>
</html>