<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu</title>
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="/static/menu.css">

</head>
<body>
    <div class="nav-bar">
        <div class="nav-bar-left">
           
          <a href="/templates/index.html"><img src="/static/taskpic/logo.jpg" class="nav-bar-left-logo"> </a>
        </div>
        <div class="nav-bar-right">
            <button class="menu">Menu</button>
            <button class="contact-us">Contact Us</button>
            <button class="about-us">About Us</button>
        </div>
    </div>





<div class="grid-wrapper">
   <div class="grid">
    {% for product in products %}

<div class="shirt-card">
    <div class="card-img"> <img src="{{product.pic}}"  ></div>
    <div class="card-details">
        <p class="name">{{product.name}}</p>
        <p class="price">{{product.price}}</p>
    </div>

</div>
{% endfor %}

    </div>

</div>
    
</body>
</html>